*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

.container-fluid {
    min-height: 100vh;
}

#traffic-light-line {
    width: 10px;
    min-height: 50px;
}

#traffic-light {
    min-height: 285px;
    max-width: 100px;
    
    border-radius: 10px;
    background-color: black;
}

.light {
    width: 80px;
    height: 80px;
}

.red.selected {
    box-shadow: 0px 0px 15px 14px #dc3545;
}

.orange.selected {
    box-shadow: 0px 0px 15px 14px #ffc107;
}

.green.selected {
    box-shadow: 0px 0px 15px 14px #198754;
}